<!DOCTYPE html>
<html>
<head>
<title> Apprendre Vue </title>


<!--
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
-->







</HEAD>
<BODY>

<div id="root">
    Y a rien pour le moment

    <input type="text" id="input" v-model="message">
    <P> Vous avez saisi le message suivant: {{ message }} </P>


</div>

<script src="https://unpkg.com/vue@next"></script>


    <script>
        var app = {
            data() {
                return {
                    message: 'Le SIO c\'est rigolo'
                }
            }
        }
        const log = Vue.createApp(app).mount('#root')

        document.querySelector('#ajout').addEventListener('click',() => {
            let nvNom = document.querySelector('#nouveauNom');
            app.noms.push(nvNom.value);
            nvNom.value = '';


    </script>
</BODY>
</HTML>

