<!DOCTYPE html>
<html>
<head>
<title> Apprendre Vue </title>


<!--
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
-->







</HEAD>
<BODY>

<div id="root">
    Y a rien pour le moment

    <input type="text" id="input" v-model="message">
    <P> Vous avez saisi le message suivant: {{ message }} </P>
    <ul>
        <li v-for="nom in professeurs"> {{ nom }}</li>
    </ul>

    <input type="text"  v-model="nouveauNom" >
    <button @click="ajouterNom" type="submit" id="ajout">Ajout nom</button>


</div>

<script src="https://unpkg.com/vue@next"></script>


    <script>
        var app = {
            data() {
                return {
                    message: 'Le SIO c\'est rigolo',
                    professeurs: ['Vigny', 'Damico','Robert', 'Roubeau'],
                    nouveauNom: ''
                }
            },
            mounted(){
                /*document.querySelector('#ajout').addEventListener('click',() => {
                    let nvNom = document.querySelector('#nouveauNom');
                    log.$data.professeurs.push(nvNom.value);
                    nvNom.value = '';
                })*/
            },
            methods:{
                ajouterNom() {
                    this.professeurs.push(this.nouveauNom);
                }
            }
        }
        const log = Vue.createApp(app).mount('#root')



    </script>
</BODY>
</HTML>

