<!DOCTYPE html>
<html>
<head>
<title> Apprendre Vue </title>


<!--
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
-->




    <script src="https://unpkg.com/vue@next"></script>



    </script>
</HEAD>
<BODY>

    <div id="root">
  Y a rien pour le moment

        <input type="text" id="input" v-model="message">
        <P> Vous avez saisi le message suivant: {{ message }} </P>
    </div>

    <script>
        //var app = new Vue({
                var app = Vue.createApp({
                el: '#root',
                data: {
                    message: 'Le SIO c\'est rigolo mais pas trop'
                }
            })
            </script>

</BODY>
</HTML>

