<html>

<head>
<meta charset="UTF-8">

    <title>Liste de choses à étudier en SIO2</title>
    <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
<div id="grandeliste">
<ol>
<afaire-item v-for="matiere in listeSlam" v-bind:liste="matiere" v-bind:key="matiere.id">
</afaire-item>
</ol>
</div>


<script src="040_SOL_MultipleComposant.js"></script>
</body>

</html>