<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="slam">

    <ol>
        <afaire v-for="matiere in listeSlam" v-bind:liste="matiere" v-bind:key="matiere.id">

        </afaire>
    </ol>

</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="050_Props.js"></script>

</body>
</html>