<html>

<head>
<meta charset="UTF-8">

    <title>Liste de choses à étudier en SIO2</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.css" integrity="sha512-7VGuxKU1BFMmA+dC7NiW8jF0YOIe6bibjUBr42unVtEsI/UYzXMS3nkgNvmsY4yqauxeiEs4bXF6fPLsCuxN/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
<div id="root" class="container">
<competence titre="BLOC2" contenu="Programmation POO, fonctionnelle et évènementitelle - Modélisation UML">

</competence>
    <modal v-if="montreDetail" @close="montreDetail=false">
        <template v-slot:contenu>
            La partie Data est fondamentale pour le développement logiciel. Une application doit tenir la charge, la volumétrie et
            être capable d'assurer la persistence des données
        </template>

    </modal>
    <button @click="montreDetail=true"> Voir les détails</button>

    <competence titre="BLOC3" contenu="Cybersécurité - sécurité applicative et réglementaire"> </competence>
<competence titre="ATP" contenu="Ateliers de professionnalisation"> </competence>

</div>

<script src="https://unpkg.com/vue@next"></script>

<script src="070MODIFIE_MultCompVue.js"></script>
</body>

</html>